{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block header_extra %}
        <link rel="stylesheet" href="/static/app/user_page.css">
{% endblock %}

{% block main %}
<h1>Welcome, {{ current_user.first_name }}!</h1>

<h3>Your aircraft</h3>
<table id='my_aircraft'>
  <tr>
    <th>Name</th>
    <th>Registration</th>
    <th>Actions</th>
  </tr>
{% for aircraft in my_aircraft %}
  <tr>
    <td>{{ aircraft.name }}</td>
    <td>{{ aircraft.registration }}</td>
    <td>Manage | Edit | Delete</td>
  </tr>
{% else %}
  <tr>
    <td colspan='3'>No current aircraft</td>
  </tr>
{% endfor %}
</table>

<a href='{{ url_for( 'create_aircraft_page' ) }}'>Create a new aircraft</a>

{% endblock %}
